<div class="container nt-5 mb-5">

    <h1 class="text-center">About</h1>

    <div class="banners">
    
    </div>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi ullam consequatur animi voluptas. Nam nulla enim dicta neque voluptas nobis porro hic perspiciatis quaerat animi iste quas dignissimos, ad rerum.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Omnis ut nisi quia fugit sed ullam eius soluta ipsam saepe repellendus earum quo tempore placeat quaerat sequi, voluptatem tempora repellat? Qui.
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse excepturi, cum impedit doloribus dolorem obcaecati praesentium! Iure asperiores neque, ad similique vero cupiditate quis fugiat sit ipsum, nostrum repellat ducimus!Lorem
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, possimus ipsum officia neque modi aperiam error, esse id, quis quo dolores repudiandae reiciendis accusamus odio praesentium cum consequatur natus vel.
        <br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere corrupti in hic natus? Et tempora omnis, veritatis aut officia veniam illo modi recusandae laborum minima, aperiam consectetur similique architecto
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci eligendi amet enim veniam dolores autem, reiciendis commodi architecto expedita nulla sapiente neque, corrupti facere, culpa veritatis ad maxime quos ab!
        <br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quisquam est cum ex culpa eos animi necessitatibus suscipit reprehenderit minus quas doloribus adipisci magnam, ullam repellat libero ut repudiandae mollitia ab.
        <br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A sint necessitatibus veniam excepturi beatae blanditiis iste modi, impedit facere molestias sunt, consequatur earum ex. Necessitatibus nemo neque id consequatur impedit.

    </p>
</div>